.form {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .form form {
    min-width: 300px;
    width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  .form form {
    min-width: 300px;
    width: 50%;
  }
}


.form form div {
  margin-top: 40px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form form div input {
  height: 40px;
  width: 100%;
}

.form form div button {
  height: 40px;
  width: 40%;
  scale: 1;
  transition: all 400ms;
}

.form form div button:hover {
  scale: 1.05;
  transition: all 400ms;
}
